.vue {
  margin-top: 10px;
}

.moduleContainer {
  margin-top: 10px;
}

.moduleContainer .panel {
  margin : 2%;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.details-intership li {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.arrow {
  line-height: 40px !important;
}

.steps-acceptation {
  text-align: center;
}

.next-step {
  text-align: center;
}

.add-stage-form .input-group-addon:first-child, .add-organization-form .input-group-addon:first-child {
  width: 140px;
  text-align: left;
}

.input-group {
  width: 100%;
}
