.vue {
  margin-top: 10px;
}

.moduleContainer {
  margin-top: 10px;
}

.moduleContainer .panel {
  margin : 2%;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.details-intership li {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
