<div class="stages-wrapper" ng-controller="StagesController as stage">
  <aside class="col-lg-2 col-md-2" id="search_aside">
    <h2>Filtre de recherche</h2>
    <div class="row">
      <label for="recherche_par_titre">Par titre :</label>
      <input class="pull-right" type="text" name="recherche_par_titre" id="recherche_par_titre" ng-model="titre" value="">
    </div>

    <div class="row">
      <label for="recherche_par_mission">Par mission :</label>
      <input class="pull-right" type="text" name="recherche_par_mission" id="recherche_par_mission" ng-model="mission" value="">
    </div>

    <div class="row">
      <label for="recherche_par_description">Par description :</label>
      <input class="pull-right" type="text" name="recherche_par_description" id="recherche_par_description" ng-model="description" value="">
    </div>

    <div class="row">
      <label for="recherche_par_entreprise">Par entreprise :</label>
      <input class="pull-right" type="text" name="recherche_par_entreprise" id="recherche_par_entreprise" ng-model="entreprise" value="">
    </div>

  </aside>
  <div class="col-lg-10 col-md-10 content">
    <h1 class="col-lg-12">Offres de stages</h1>
    <ul id="liste_offres_stage">
      <li class="liste_offres_stage-item" ng-repeat="offre in stage.offres | filter:{title:titre} | filter:{mission:mission} | filter:{description:description} | filter:{organisation:entreprise}">
        <offre-stage class="col-lg-6 col-xs-12" ng-controller="OffresController as offreCtrl"></offre-stage>
      </li>
    </ul>
  </div>

</div>
