<div class="col-md-4 col-lg-3 hidden-xs hidden-sm col-without-padding panel-filter" ng-controller="PanelInternshipFilterController as panelFilterCtrl">
  {{panelFilterCtrl.selectFilter(0)}}
  <panel-filter></panel-filter>
</div>
<div class="col-lg-9 col-xs-12 col-sm-12 col-md-8 container-fluid">
  <list-internship>
  </list-internship>
</div>
<div class="modal fade add-stage-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Ajout d'une offre de stage</h4>
      </div>
      <div class="modal-body">
        <div class="contrainer-fluid">
          <div class="center-block">
            <div class="row">
              <ul class="list-inline steps-acceptation">
                <li class="active"><a class="btn btn-success" href="#">Etape 1: Entreprise</a></li>
                <li><span class="glyphicon glyphicon-arrow-right arrow"></span></li>
                <li class=""><a class="btn btn-default disabled" href="#">Etape 2: Informations sur le stage</a></li>
              </ul>
            </div>
          </div>
          <form class="form-horizontal">
            <!-- Etape 1: Entreprise -->
            <div class="tab-1">
              <table class="table">
                <tbody>
                  <tr>
                    <th>
                      <label for="organization">Entreprise</label>
                    </th>
                    <td>
                      <select id="organization" class="form-control">
                        <option>Archimed</option>
                        <option>Norsys</option>
                        <option>Smile</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th>SIRET</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Adresse</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Téléphone</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>Effectif</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th>APE(SA)</th>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <div class="row next-step">
                <a class="btn btn-success next">Suivant</a>
              </div>
            </div>
            <!-- ! Fin Etape 1: Entreprise-->
            <!-- Etape 2: Informations sur le stage-->
            <div class="tab-2 hidden-lg">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Formation(s)*</div>
                      <select class="form-control input-group">
                        <option>CGIR</option>
                        <option>DA2I</option>
                        <option>DUT Informatique</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Intitulé*</div>
                      <input type="text" class="form-control" placeholder="Intitulé"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Missions</div>
                      <textarea class="form-control" rows="3" placeholder="Missions"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Description</div>
                      <textarea class="form-control" placeholder="Description"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Technologies</div>
                      <input type="text" class="form-control" placeholder="Technologies"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Date de début</div>
                      <input type="date" class="form-control" placeholder="jj/mm/aaaa"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-stage-form">
                      <div class="input-group-addon">Durée(semaines)</div>
                      <input type="number" class="form-control" placeholder="Durée"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                * Champs obligatoires
              </div>
              <div class="row next-step">
                <a class="btn btn-success next">Ajouter</a>
              </div>
            </div>
            <!-- Fin Etape 2: Informations sur le stage -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin de la fenêtre modale -->
<div class="modal fade add-organization-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Ajout d'une entreprise</h4>
      </div>
      <div class="modal-body">
        <div class="contrainer-fluid">
          <form class="form-horizontal">
            <!-- Début Ajout Entreprise -->
            <div class="tab-1">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="input-group add-organization-form">
                      <div class="input-group-addon">SIRET*</div>
                      <input type="text" class="form-control" placeholder="SIRET"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-organization-form">
                      <div class="input-group-addon">Nom*</div>
                      <input type="text" class="form-control" placeholder="Nom"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-organization-form">
                      <div class="input-group-addon">Adresse*</div>
                      <textarea class="form-control" placeholder="Adresse"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-organization-form">
                      <div class="input-group-addon">Effectif</div>
                      <input type="text" class="form-control" placeholder="Effectif"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group add-organization-form">
                      <div class="input-group-addon">APE(SA)*</div>
                      <input type="text" class="form-control" placeholder="APE(SA)"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                * Champs obligatoires
              </div>
              <div class="row next-step">
                <a class="btn btn-success next">Ajouter</a>
              </div>
            </div>
            <!-- ! Fin Ajout Entreprise-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
