<div class="col-md-4 col-lg-3 hidden-xs hidden-sm col-without-padding panel-filter" ng-controller="PanelInternshipFilterController as panelFilterCtrl">
  {{panelFilterCtrl.selectFilter(0)}}
  <panel-filter></panel-filter>
</div>
<div class="col-lg-9 col-xs-12 col-sm-12 col-md-8 container-fluid">
  <div class="btn-group vue row">
    <button type="button" class="btn btn-default" aria-strong="Left Align">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" aria-strong="Justify">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </button>
  </div>
  <!-- Modules contenant les sujets de stage -->
  <div class="moduleContainer">
    <div class="row">
      <div class="col-lg-5">
        <div class="panel panel-default ">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Application web de gestion de notes
          </div>
          <div class="panel-body">
            <ul class="list-group details-intership">
              <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"/>&nbsp;Villeneuve d'Ascq</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-user"/>&nbsp;RH: J. Coulon</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-calendar"/>&nbsp;21/04/2016</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-time"/>&nbsp;3 mois</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-console"/>&nbsp;PHP, jQuery, Python</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-tags"/>&nbsp;Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage</li>
            </ul>
            <a class="btn btn-warning btn-block" href="#">Voir cette annonce</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="panel panel-default ">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Application web de gestion de notes
          </div>
          <div class="panel-body">
            <ul class="list-group details-intership">
              <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"/>&nbsp;Villeneuve d'Ascq</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-user"/>&nbsp;RH: J. Coulon</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-calendar"/>&nbsp;21/04/2016</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-time"/>&nbsp;3 mois</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-console"/>&nbsp;PHP, jQuery, Python</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-tags"/>&nbsp;Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage</li>
            </ul>
            <a class="btn btn-warning btn-block" href="#">Voir cette annonce</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="panel panel-default ">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Application web de gestion de notes
          </div>
          <div class="panel-body">
            <ul class="list-group details-intership">
              <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"/>&nbsp;Villeneuve d'Ascq</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-user"/>&nbsp;RH: J. Coulon</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-calendar"/>&nbsp;21/04/2016</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-time"/>&nbsp;3 mois</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-console"/>&nbsp;PHP, jQuery, Python</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-tags"/>&nbsp;Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage</li>
            </ul>
            <a class="btn btn-warning btn-block" href="#">Voir cette annonce</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="panel panel-default ">
          <div class="panel-heading">
            <span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;&nbsp;Application web de gestion de notes
          </div>
          <div class="panel-body">
            <ul class="list-group details-intership">
              <li class="list-group-item"><span class="glyphicon glyphicon-map-marker"/>&nbsp;Villeneuve d'Ascq</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-user"/>&nbsp;RH: J. Coulon</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-calendar"/>&nbsp;21/04/2016</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-time"/>&nbsp;3 mois</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-console"/>&nbsp;PHP, jQuery, Python</li>
              <li class="list-group-item"><span class="glyphicon glyphicon-tags"/>&nbsp;Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage, Bulletin, Notes, Stage</li>
            </ul>
            <a class="btn btn-warning btn-block" href="#">Voir cette annonce</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
