<div class="col-md-4 col-lg-3 hidden-xs hidden-sm col-without-padding panel-filter" ng-controller="PanelMenuController as panelCtrl" ng-init="panelCtrl.selectPanel('notes','formations')">
  <panel-menu></panel-menu>
</div>
<div class="col-lg-9 col-xs-12 col-sm-12 col-md-8">
	<ol class="breadcrumb">
	  <li><a href="#/home">Home</a></li>
	  <li class="active"><a href="#/formations">formations</a></li>
	</ol>
  <h3>Formations : </h3>
  <div class="col-lg-12 col-xs-12 col-without-padding">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-target="#da2i">
        <div class="btn-group pull-right">
          <a class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#da2i">
            <span class="glyphicon glyphicon-menu-down"></span>
          </a>
        </div>
        DA2I
      </div>
      <div id="da2i" class="panel-collapse collapse">
        <div class="panel-body">
          <table id="mytable" class="table table-bordred table-striped table-hover table-list-search">
            <thead>
            <tr>
              <th>Responsable</th>
              <th>Année</th>
              <th class="hidden-xs">Voir</th>
              <th>Modif.</th>
              <th class="hidden-xs">Sup.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>M.Hauspie</td>
              <td>2015-2016</td>
              <td>
              	<a ng-href="#/formations/da2i/annees/2015-2016/semestres/4/" class="btn btn-success btn-sm">S4</a>
              	<a ng-href="#/formations/da2i/annees/2015-2016/semestres/5/" class="btn btn-success btn-sm">S5</a>
              </td>
              <td class="hidden-xs"><a class="btn btn-warning btn-sm editButton"><span class="glyphicon glyphicon glyphicon-pencil"></span></a></td>
              <td class="hidden-xs"><a class="btn btn-danger btn-sm deleteButton"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            <tr>
              <td>B.Beaufils</td>
              <td>2014-2015</td>
              <td>
             	 <a ng-href="#/formations/da2i/annees/2015-2016/semestres/4/" class="btn btn-success btn-sm">S4</a>
              	 <a ng-href="#/formations/da2i/annees/2015-2016/semestres/5/" class="btn btn-success btn-sm">S5</a>
              </td>
              <td class="hidden-xs"><button class="btn btn-warning btn-sm editButton"><span class="glyphicon glyphicon glyphicon-pencil"></span></button></td>
              <td class="hidden-xs"><button class="btn btn-danger btn-sm deleteButton"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            <tr>
              <td>B.Beaufils</td>
              <td>2013-2014</td>
              <td>
				<a ng-href="#/formations/da2i/2015-2016" class="btn btn-success btn-sm">S4</a>
              	<a ng-href="#/formations/da2i/2015-2016" class="btn btn-success btn-sm">S5</a>
              </td>
              <td class="hidden-xs" ><button class="btn btn-warning btn-sm editButton"><span class="glyphicon glyphicon glyphicon-pencil"></span></button></td>
              <td class="hidden-xs"><button class="btn btn-danger btn-sm deleteButton"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 col-without-padding">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-target="#cgir">
        <div class="btn-group pull-right">
          <a class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#cgir">
            <span class="glyphicon glyphicon-menu-down"></span>
          </a>
        </div>
        CGIR
      </div>
      <div id="cgir" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-bordred table-striped table-hover">
            <thead>
            <tr>
              <th>Responsable</th>
              <th>Année</th>
              <th class="hidden-xs">Modif.</th>
              <th>Voir</th>
              <th class="hidden-xs">Sup.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Y.Peter</td>
              <td>2015-2016</td>
              <td class="hidden-xs"><button class="btn btn-warning btn-sm editButton"><span class="glyphicon glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-success btn-sm editButton"><span class="glyphicon  glyphicon-eye-open"></span></button></td>
              <td class="hidden-xs"><button class="btn btn-danger btn-sm deleteButton"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            <tr>
              <td>Y.Peter</td>
              <td>2014-2015</td>
              <td class="hidden-xs"><button class="btn btn-warning btn-sm editButton"><span class="glyphicon glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-success btn-sm editButton"><span class="glyphicon glyphicon-eye-open"></span></button></td>
              <td class="hidden-xs"><button class="btn btn-danger btn-sm deleteButton"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            <tr>
              <td>Y.Peter</td>
              <td>2013-2014</td>
              <td class="hidden-xs"><button class="btn btn-warning btn-sm editButton"><span class="glyphicon glyphicon glyphicon-pencil"></span></button></td>
              <td><button class="btn btn-success btn-sm editButton"><span class="glyphicon glyphicon-eye-open"></span></button></td>
              <td class="hidden-xs"><button class="btn btn-danger btn-sm deleteButton"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
