<div class="col-lg-3 hidden-xs panel-filter" ng-controller="PanelFilterController as panelFilterCtrl">
  {{panelFilterCtrl.selectFilter(0)}}
  <panel-filter></panel-filter>
</div>
<div class="col-lg-9 col-xs-9">
  <h3>Notes</h3>
			<table id="mytable" class="table table-bordred table-striped table-hover table-list-search">
				<thead>
					<tr>
            <th>Nom</th>
  					<th class="hidden-xs">Responsable</th>
  					<th class="hidden-xs">UE</th>
            <th>Semestre</th>
  					<th class="hidden-xs">Coeff</th>
            <th class="hidden-xs">Moyenne</th>
  					<th>Voir</th>
  					<th>Supprimer</th>
				  </tr>
        </thead>
				<tbody>
						<tr>
              <td>Reseau</td>
              <td class="hidden-xs">Peter</td>
              <td class="hidden-xs">Informatique</td>
              <td>1</td>
              <td class="hidden-xs">9</td>
              <td class="hidden-xs">2</td>
              <td><button class="btn btn-success btn-sm editButton center-block"><span class="glyphicon glyphicon-log-in"></span></button></td>
              <td><button class="btn btn-danger btn-sm deleteButton center-block"><span class="glyphicon glyphicon-trash"></span></button></td>
            </tr>
            <tr>
              <td>Bdd</td>
              <td class="hidden-xs">Mathieu Philippe</td>
              <td class="hidden-xs">Informatique</td>
              <td>1</td>
              <td class="hidden-xs">2</td>
              <td class="hidden-xs">14</td>
              <td><button class="btn btn-success btn-sm editButton center-block"><span class="glyphicon glyphicon-log-in"></span></button></td>
              <td><button class="btn btn-danger btn-sm deleteButton center-block"><span class="glyphicon glyphicon-trash"></span></button></td>

            </tr>
            <tr>
              <td>Anglais</td>
              <td class="hidden-xs">Sylvestre Vanuxem</td>
              <td class="hidden-xs">Générale</td>
              <td>1</td>

              <td class="hidden-xs">1</td>
              <td class="hidden-xs">10</td>
              <td><button class="btn btn-success btn-sm editButton center-block"><span class="glyphicon glyphicon-log-in"></span></button></td>
              <td><button class="btn btn-danger btn-sm deleteButton center-block"><span class="glyphicon glyphicon-trash"></span></button></td>

            </tr>
          	</tbody>
			</table>
</div>
