.bulletin .subject {
	margin-bottom: -20px !important;
}

.bulletin>a:first-child {
	background-color: #222 !important;
	border-color: #222 !important;
}

.bulletin .ue>a:first-child {
	background-color: #444444 !important;
	border-color: #444444 !important;
	border-raduis: 0 !important;
}

.bulletin .ue>a:first-child, .bulletin .ue>a:last-child, .bulletin .subject>a:first-child,
	.bulletin .subject>a:last-child {
	border-raduis: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
}

.bulletin .subject>a:first-child {
	background-color: #f9f9f9 !important;
	border-color: #ddd !important;
}