.logo{
  margin-bottom: 10%;
}

.login{
background-image: url("../img/login/bg2.jpeg");
}

./* input-block .input-group-addon{
	color:white;
}

.input-block .input-group-addon,.input-block input {
	background:transparent;
	border:none;
}

.input-block input{
	border-bottom:1px solid #cdcdcd!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
}

.submit_button{
		-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0!important;
	color:white!important;
	background:transparent!important;
} */
