<div class="panel-filter-wrapper">
  <div class="filter-header">
    <h3>{{panelFilterCtrl.filterSelected.title}}</h3>
    <div class="list-group" ng-repeat="button in panelFilterCtrl.filterSelected.buttons">
      <a ng-href="{{button.href}}" class="list-group-item">{{button.name}}</a>
    </div>
  </div>
  <div class="filter-body">
    <fieldset>
      <legend>Filtres:</legend>
      <div ng-repeat="filter in panelFilterCtrl.filterSelected.filters">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon label-filter">{{filter.label}} :</div>
            <input type="{{filter.type}}" name="{{filter.name}}" id="{{filter.id}}" class="form-control" placeholder="{{filter.placeholder}}" autofocus>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<script>
$(document).ready(function(){
  var height = $(window).height();
  $('.panel-filter-wrapper').css('height', height);
});
</script>
